.auth-container{
    background-image:url("/src/components/CSS/images/rollsroyceprivatejet.jpg");
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.auth-box{
    padding: 20px;
    background: rgba(255, 255, 255, 0.242); 
    boxShadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.auth-box input{
    margin: 10px 0;
     padding: 10px;
      width: 100%;
}

#register{
    padding: 10px; width: 100%; background: #28a745; color: #fff; border: none;
}
#login{
    padding: 10px; width: 100%; background: #007bff; color: #fff; border: none; 
}
#loginhere{
    color: blue;cursor: pointer;
}
#registerhere{
    color: blue;cursor: pointer;
}
p{
    font-size: larger;
    font-weight: bolder;
}